* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 400;
}

/* Hero section styles */
.hero {
  background-image: url("../../assets/homepage_new_all.jpg"); /* Replace with your image */
  height: 50vh;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.hero h1 {
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}

/* Card styles */
.card-job,
.card {
  margin-top: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-job {
  background-color: #f3f4f6;
}

.card {
  background-color: rgb(224, 231, 255);
}

.card-body {
  padding: 20px;
}

/* Button styles */
.btn-employer,
.btn-add-job {
  background-color: #6366f1;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-employer:hover,
.btn-add-job:hover {
  background-color: #5355c7;
}

/* Additional styles */
.bg-custom-blue {
  background-color: rgb(239, 246, 255);
}

.browse-jobs {
  font-size: 30px;
  color: #6366f1;
  font-weight: bold;
}

.card-jobs {
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-jobs h3 {
  font-size: 20px;
  font-weight: bold;
}

.jobs-text {
  color: #000000;
  font-size: 16px;
}

.jobs-range {
  font-size: 16px;
  color: #6366f1;
  margin: 0 0 8px;
}

.text-custom {
  color: #c2410c;
  font-size: 16px;
}

.view-jobs {
  align-items: center;
  max-width: 600px;
}

/* Add JOB */
.add-job,
.signup {
  background-color: #eef2ff;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.custom-container {
  background-color: #f8f9fa;
  padding: 40px 0;
  max-width: 700px;
  width: 100%;
  margin: 100px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-container h2 {
  text-align: center;
  font-weight: 600;
}

.form {
  width: 100%;
}

.form .input-box {
  max-width: 900px;
  width: 100%;
  margin-top: 5px;
}

.form .input-box label {
  color: #333;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
}

.form .input-box input::placeholder {
  color: #a9a9a9;
  font-size: 18px;
}

.form .com-info {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  text-align: left;
}
