/* Nav styles */
nav a.navbar-brand {
  color: rgba(59, 130, 246);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 50px;
}

nav a {
  color: #fff;
  transition: color 0.3s;
}

nav a:hover {
  color: #f8f9fa;
}

.nav-link {
  padding-right: 30px;
}

.nav-item {
  color: black;
}
